<ion-header>
  <ion-navbar class="profile-nav">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="profile-title">{{ playerName }}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar class="profile-toolbar">
    <ion-buttons>
      <button ion-button color="light" (click)="inviteToPlay()"> Invite to Play </button>
    </ion-buttons>
    <ion-buttons>
      <button ion-button color="light"> Message </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let match of matchDetails">
    <match-details-card *ngIf="match" [match]="match" [playerId]="playerId"></match-details-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content>Loading...</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>