<ion-header>
  <ion-navbar class="profile-nav">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <div class="friend-info">
      <img class="profile-img" [src]="friend?.avatarfull">
      <div class="friend-status">
        <h5 *ngIf="friend?.realname">{{ friend.realname }}</h5>
        <h5>{{ friend?.personaname }}</h5>
        <h6 *ngIf="friend?.personastate !== 0">{{ friend?.personastate | playerStatus }}</h6>
        <h6 *ngIf="friend?.personastate === 0">Last online {{ (friend.lastlogoff | amFromUnix) | amTimeAgo }}</h6>

        <button ion-button color="light" clear icon-left class="invite-btn" (click)="inviteToPlay()">
           <ion-icon name="game-controller-b"></ion-icon>
           Invite to Play 
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding margin-top>
  <ion-tabs tabsPlacement="top">
    <ion-tab [root]="tabOne" [rootParams]="tabOneParams" tabTitle="RECENT GAMES"></ion-tab>
    <ion-tab [root]="tabTwo" tabTitle="MESSAGES"></ion-tab>
  </ion-tabs>
</ion-content>