player-profile {
    .header-md::after {
        background-image: none;
    }

    .profile-toolbar {
        background: url("../assets/images/black_background.jpg");
        background-position: 15% 25%;
    }

    .profile-nav {
        button, .profile-title>div {
            color: $grey;
        }
    }
}
