<ion-header>
    <ion-navbar class="friends-nav">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="friends-title">Friends</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="navigateToSearch()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="updateFriends($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <div *ngIf="favorites.length">
            <ion-list-header>Favorites</ion-list-header>
            <div class="sorted-list">
                <ion-item-sliding *ngFor="let friend of favorites">
                    <ion-item (click)="navigateToProfile(friend)">
                        <ion-avatar item-left>
                            <img [src]="friend?.avatarmedium">
                        </ion-avatar>
                        <h2>{{ friend?.personaname }}</h2>
                        <h6 *ngIf="friend?.personastate !== 0">{{ friend?.personastate | playerStatus }}</h6>
                        <h6 *ngIf="friend?.personastate === 0">Last online {{ (friend.lastlogoff | amFromUnix) | amTimeAgo }}</h6>
                    </ion-item>
                    <ion-item-options>
                        <button ion-button (click)="sendQuickInvite(friend)"><ion-icon name="game-controller-b"></ion-icon>Invite</button>
                    </ion-item-options>
                </ion-item-sliding>
            </div>
        </div>

        <div *ngIf="online.length">
            <ion-list-header>Online</ion-list-header>
            <div class="sorted-list">
                <ion-item *ngFor="let friend of online" (click)="navigateToProfile(friend)">
                    <ion-avatar item-left>
                        <img [src]="friend?.avatarmedium">
                    </ion-avatar>
                    <h2>{{ friend?.personaname }}</h2>
                    <h6>{{ friend?.personastate | playerStatus }}</h6>
                </ion-item>
            </div>
        </div>

        <div *ngIf="offline.length">
            <ion-list-header>Inactive</ion-list-header>
            <div class="sorted-list">
                <ion-item *ngFor="let friend of offline" (click)="navigateToProfile(friend)">
                    <ion-avatar item-left>
                        <img [src]="friend?.avatarmedium">
                    </ion-avatar>
                    <h2>{{ friend?.personaname }}</h2>
                    <h6>Last online {{ (friend.lastlogoff | amFromUnix) | amTimeAgo }}</h6>
                </ion-item>
            </div>
        </div>
    </ion-list>
</ion-content>