<ion-menu [content]="appcontent">
    <ion-header class="profile-header">
        <img class="profile-img" [src]="profile?.avatarmedium">
        <ion-title>{{ profile?.personaname }}</ion-title>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-list-header>Online</ion-list-header>
            <button ion-item detail-none *ngFor="let friend of onlineFriends">
                {{ friend?.personaname }}
                <img item-left class="profile-img" [src]="friend?.avatar">
            </button>

            <ion-item-divider></ion-item-divider>
            <ion-list-header>Offline</ion-list-header>
            <button ion-item detail-none *ngFor="let friend of offlineFriends">
                {{ friend?.personaname }}
                <ion-avatar item-left>
                    <img [src]="friend?.avatar">
                </ion-avatar>
            </button>

            <ion-item-divider></ion-item-divider>
            <button ion-item detail-none (click)="logout()">Logout</button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #appcontent></ion-nav>