app-home {
    font-family: Radiance;

    .profile-img {
        border-radius: 50%;
        display: inline-block;
        border: 1px solid white;
    }

    .profile-header {
        background: url("../assets/images/black_background.jpg");
        background-position: 15% 20%;
        height: 20%;

        .profile-container {
            padding: 25px;
            color: white;
        }

        .profile-text {
            vertical-align: top;
            display: inline-block;
            
            div {
                padding: 0 12px;
            }
        }
    }
    
    .list-header {
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .friend-item {
        padding-left: 20px;
        font-size: 1.4rem;
        transition: 0.1s all linear;
    }

    .parent-button {
        padding-top: 10px;
        letter-spacing: 1px;
    }

    .refresher-pulling-text, 
    .refresher-refreshing-text {
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    
}